header {
    text-align: center;
}

nav{
    background-color: #002A4E;
}

.disabled{
    cursor: not-allowed;
    opacity: .5;  
}

.custom-nav{
   color:white !important;
}

.active-nav{
    color: #FFFFF0 !important;
}

.nav-bar-item{
    color: white;
}

.reset-anchor{
    font-size: 10px;
    text-decoration: underline !important;
    color: blue !important;
    cursor: pointer; 
}

.error-font{
    color: red;
}