header {
    text-align: center;
}

nav{
    background-color: #002A4E
}
.disabled{
    cursor: not-allowed;
    opacity: .5;  
}

.nav-bar-item{
    color: white;
}

.reset-anchor{
    font-size: 10px;
    text-decoration: underline !important;
    color: blue !important;
    cursor: pointer; 
}

.error-font{
    color: red;
}